/* body {
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 40px auto;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
}

td {
    padding: 6px;
    vertical-align: top;
}

.buttons {
    text-align: center;
    padding-top: 10px;
} */
