* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    height: 45 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(38, 37, 37);
}

.logo {
    justify-content: left;
    align-items: left;
    height: 20px;
    width: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;

}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}

.nav-links a:hover {
    color: red;
}

.caps {
    text-transform: capitalize;
    background-color: red;
}
