    table {
        border-collapse: collapse;
        width: 700px;
        margin: 20px auto;
    }

    th,
    td {
        border: 2px solid #999;
        padding: 8px;
        text-align: center;
    }

    th {
        font-weight: bold;
    }
